# ======================
# ENV
# ======================
.env
.env.*

# ======================
# GOOGLE SERVICE ACCOUNT
# ======================
service-account.json

# ======================
# NODE
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# UPLOAD FILES
# ======================
uploads/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# VS CODE
# ======================
.vscode/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# TEMP
# ======================
tmp/
temp/