<div class="ems-check-app">

    <div class="card stock-card">

    <!-- ======================================
         HEADER
    ======================================= -->
    <div class="card-header stock-header">

      <div class="stock-header-left">

        <div class="stock-icon">
          💊
        </div>

        <div>
          <h1>Smart Controlled Drug System</h1>
          <p>ระบบตรวจสอบอุปกรณ์ฉุกเฉิน เวชภัณฑ์ และวันหมดอายุ</p>
        </div>

      </div>

    </div>
  <!-- ================= MENU ================= -->
  <section class="ems-check-menu">

    <button class="ems-check-menu-btn" data-page="drugreceive">
      
      <i class="fa-solid fa-arrows-down-to-line"></i>
      Drug Receive
    </button>

    <button class="ems-check-menu-btn" data-page="drugdispense">
      <i class="fa-solid fa-arrows-up-to-line"></i>
      Drug Dispense
    </button>

    <button class="ems-check-menu-btn" data-page="stockout">
      <i class="fa-solid fa-chart-pie"></i>
      Drug Balance
    </button>

    <button class="ems-check-menu-btn" data-page="dailycheck">
      <i class="fa-solid fa-warehouse"></i>
      Stock Card Drug
    </button>

    <button class="ems-check-menu-btn" data-page="report">
      <i class="fa-solid fa-chart-column"></i>
      Report
    </button>

  </section>

  <!-- ================= SUMMARY ================= -->
  <section class="ems-check-summary">

    <div class="ems-check-card">
      <div class="ems-check-icon blue">
        <i class="fa-solid fa-boxes-stacked"></i>
      </div>
      <div>
        <h2 id="totalItems">124</h2>
        <p>ทั้งหมด</p>
      </div>
    </div>

    <div class="ems-check-card">
      <div class="ems-check-icon green">
        <i class="fa-solid fa-check"></i>
      </div>
      <div>
        <h2 id="readyItems">118</h2>
        <p>พร้อมใช้งาน</p>
      </div>
    </div>

    <div class="ems-check-card">
      <div class="ems-check-icon orange">
        <i class="fa-solid fa-triangle-exclamation"></i>
      </div>
      <div>
        <h2 id="missingItems">4</h2>
        <p>ไม่ครบ</p>
      </div>
    </div>

    <div class="ems-check-card">
      <div class="ems-check-icon red">
        <i class="fa-solid fa-clock"></i>
      </div>
      <div>
        <h2 id="expireItems">2</h2>
        <p>ใกล้หมดอายุ</p>
      </div>
    </div>

  </section>


</div>